/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/* General */
/*-------------------------------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
   
    background-color: #edf6f9;
    color: black;
    font-family: 'Nunito', sans-serif ;
    font-weight: 300;
    letter-spacing: 1px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/* Línea separadora */
/*-------------------------------------------------------------------------------------------------------------------------------------------*/

.linea {
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
}

#completa {
    width: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/