/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* General */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Cabecera */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
    padding: 20px;

    display: flex;
	align-items: center;
	justify-content: space-between;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex: 0 0 auto;
}

.logo {
	width: 70px;
	height: auto;
    margin-right: 10px;
}

.contenidoCentrado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
	width: 100%;
	height: auto;
}

.search-container {
    position: absolute; /* Posiciona la barra de búsqueda de manera absoluta */
    left: 50%; /* La mueve al 50% del contenedor */
    transform: translateX(-50%);

    width: 30%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Enlaces */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

a {
	color: white;
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Títulos y texto */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

h1 {
    font-size: 50px;
	margin: 25px 0 20px 0;
}

.icon {
	width: 100px;
	height: auto;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 500px) {
	h1 {
		font-size: 36px;
		margin-top: 0;
	}

	.icon {
		width: 100px;
	}
	
	.grupo {
		flex-direction: column;
		gap: 0;
	}
}
