<app-header-patients></app-header-patients>

<div class="linea"></div>

<div class="parallel">
    <div class="content">
        <aside class="history">
            <h3>Historial</h3>
            <h3>Historial</h3>
        </aside>
    </div>

    <div class="summaryPatient">
        <section class="personalData">
            <div class="parallelPatient">
                <div class="photoPatient"></div>

                <div class="data">
                    <h3>Nombre del paciente</h3>
                    <h3>Edad</h3>
                    <h3>Sexo</h3>
                    <h3>Alergias</h3>
                    <h3>Motivo del ingreso</h3>
                    <h3>Fecha ingreso</h3>
                    <h3>Diagnostico principal</h3>
                    <h3>Condiciones previas</h3>
                    <h3>Servicio</h3>
                    <h3>Estado ingreso</h3>
                </div>
            </div>
            
        </section>

        <section class="evolutionData">
            <h1>Datos sobre la evolución</h1>
        </section>

        <section class="inicialLabsdata">
            <h1>Datos sobre las pruebas iniciales</h1>
        </section>

        <section class="medicationData">
            <h1>Datos sobre la medicación tomada</h1>
        </section>

        <section class="proceduresData">
            <h1>Datos sobre los procedimientos realizados</h1>
        </section>

        <section class="notesData">
            <h1>Notas sobre el paciente</h1>
        </section>

        <section class="graphics">
            <h1>Gráficos sobre la evolución</h1>
        </section>
    </div>
</div>

<a routerLink="/chat-box">
    <div class="contentButton">
        <button class="boton">
            <h3>Realizar una consulta</h3>
        </button>
    </div>
</a>