* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linea {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--color-secundario), transparent);
}

.summaryPatient {
    display: grid;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 20px;
}

.photoPatient {
    width: 50%;
    background-color: grey;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.data {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 10px;
}

.contentButton {
    display: flex;
    align-items: center;
    justify-content: center;
}


.boton{
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--color-sombras), 0 10px 20px var(--color-sombras);
}

.boton::before {
    content: "";
    
    top: -2px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: -1;
    
    border-radius: 30px;
    
    opacity: 1;
    transition: all .2s ease;
}

.boton:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-sombras), 0 5px 10px var(--color-sombras);
}

/*.personalData {
    background-color: lightyellow;
}*/

/*.evolutionData {
    background-color: yellow;
}*/

/*.inicialLabsdata {
    background-color: yellowgreen;
}*/

/*.medicationData {
    background-color: lightsalmon;
}*/

/*.proceduresData {
    background-color: orange;
}*/

/*.notesData {
    background-color: orangered;
}*/

a {
    text-decoration: none;
    color: var(--color-terciario);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 500px) {
    #onlyTabsLap {
        font-size: 0;
    }

    .photoPatient {
        left: 50%;
        transform: translateX(50%);
    }

    .data {
        margin-top: 20px;
    }

    .contentButton {
        padding-bottom: 30px;
    }

    .boton {
        width: 60%;
    }
}

@media (min-width: 500px) {
    .parallel {
        display: flex;
    }
    
    .content {
        padding: 10px;
        height: auto;
        width: 20%;
    }
    
    .history {
        width: 100%;
        height: auto;
        padding: 10px;
        border-right: 1px solid var(--color-secundario);
    }

    .parallelPatient {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    
    .boton{
        width: 20%;
    }
}