* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linea {
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(43, 71, 46, 57%), transparent);
}

#completa {
    width: 100%;
}

.content {
    padding: 10px;
    margin: 20px;
    height: auto;
    border: 1px solid rgb(43, 71, 46, 57%);
    border-radius: 20px;
    transition: background-color 0.2 ease;
}

.content:hover {
    background-color: rgb(109, 178, 117, 57%);
    transform: scale(0.995);
}

.patient {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 150px;
}

.photoPatient {
    background-color: grey;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.dataPatient {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.personalDataPatient {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50%;
}

.hospitalDataPatient {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50%;
    gap: 30px;
}

a {
    text-decoration: none;
    color: rgb(43, 71, 46, 80%);
}