<app-header-list></app-header-list>

<div class="linea"></div>

<div *ngFor="Paciente de pacientes">
    <a routerLink="/patients">
        <div class="content">
            <div class="patient">
                <div class="photoPatient"></div>
    
                <div class="dataPatient">
                    <div class="personalDataPatient">
                        <h3>{{Paciente.nombre}}</h3>
                        <h3 id="onlyTabsLap">{{Paciente.edad}}</h3>
                        <h3 id="onlyTabsLap">{{Paciente.sexo}}</h3>
                    </div>
        
                    <div class="hospitalDataPatient">
                        <h3 id="onlyTabsLap">{{Paciente.fechaingreso}}</h3>
                        <h3>{{Paciente.motivoingreso}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>