<app-header-list></app-header-list>
<div id="completa" class="linea"></div>
<a routerLink="/patients">
    <div class="content">
        <div class="patient">
            <div class="photoPatient"></div>
            <div class="dataPatient">
                <div class="personalDataPatient">
                    <h3>Nombre completo del paciente</h3>
                    <h3>Fecha de nacimiento</h3>
                    <h3>Número de la Seguridad Social</h3>
                </div>
    
                <div class="hospitalDataPatient">
                    <h3>Fecha de ingreso</h3>
                    <h3>Efermedad por la que se ingreso</h3>
                </div>
            </div>
        </div>
    </div>
</a>