<app-header-chat></app-header-chat>

<div class="linea"></div>

<div class="content">
    <div class="chat">
        <div class="response">
    
        </div>
    
        <h2>¿Cuál es tu consulta?</h2>
    
        <div class="parallel">
            <input type="text" class="fondoBloqueTipo" placeholder="Hazme cualquier consulta sobre $Nombre del paciente$">
    
            <a>
                <button class="button">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#edf6f9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M22 2L11 13"></path>
                        <path d="M22 2L15 22L11 13"></path>
                        <path d="M2 11L22 2"></path>
                        <path d="M11 13L2 11L11 13Z"></path>
                    </svg>
                </button>
            </a>
        </div>
    </div>
</div>
