/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;
    --color-principal: #6DB27591;
    --color-secundario: #2b472e91;
    --color-terciario: #2b472e;

    --color-sombras: #2b472e91;
}

body {
    margin: 0;
}